
@{ ViewBag.Title = ""; }
<div class="d-flex flex-column flex-root" >
    <!--begin::Login-->
    <div class="login login-3 d-flex flex-row-fluid login-signin-on" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(/Images/Untitled-3-011.png); background-size: contain; background-repeat: no-repeat; background-position: center;">

        </div>
    </div>
    <!--end::Login-->
</div>